.Header {
    padding-top: 12px;
    padding-bottom: 11px;
    border-bottom: 1px solid #e4e4e4;

    &__container {
        @extend .container;

        max-width: none;
    }

    &__row {
        @extend .row;

        justify-content: space-between;
        align-items: center;
    }

    &__logo,
    &__menu,
    &__cart {
        @extend .col-auto;
    }
}

@import 'Logo/Logo';
@import 'Menu/Menu';
