.App {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 320px;
    min-height: 100%;

    &__main {
        flex-grow: 1;
    }
}

@import 'Header/Header';
@import 'Footer/Footer';
